body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}



/*Overriding bootstrap styles here*/
.jumbotron {
	background-color: #FFF;
	padding-top: 20%;
	padding-bottom: 20%;
}

.jumbotron img {
	height: 60%;
}

.navbar {
	background-color: #FFF;
	border: none;
}

.navbar-brand {
	margin-left: auto;
	margin-right: auto;
}

