:root {
  /* base-16 tomorrow night color palette */
  /* https://www.vscolors.com/themes/1aba41be-c09e-4a1f-9a2d-bd474a0a860b-cfa35991 */

  /* black */
  --base00: #1d1f21;
  --base01: #282a2e;

  /* gray */
  --base02: #373b41;
  --base03: #969896;
  --base04: #b4b7b4;
  --base05: #c5c8c6;
  --base06: #e0e0e0;

  /* white */
  --base07: #ffffff;

  /* red */
  --base08: #cc6666;

  /* orange */
  --base09: #de935f;

  /* yellow */
  --base0A: #f0c674;

  /* green */
  --base0B: #b5bd68;

  /* turquoise */
  --base0C: #8abeb7;

  /* blue */
  --base0D: #81a2be;

  /* purple */
  --base0E: #b294bb;

  /* maroon */
  --base0F: #a3685a;

  /* use base16 colors in page */
  --color-bg-page: var(--base00);
  --color-bg-content: var(--base01);
  --color-border-content: var(--base05);
  --color-primary-font: var(--base06);

  /* fonts */
  --sans-font: "Titillium Web", sans-serif;
}

body {
  font-size: calc(15px + 0.390625vw);
  font-family: var(--sans-font);

  color: var(--color-primary-font);

  /* background: var(--color-bg-page); */
  /* background-image: url("../images/bg-tile.png"); */
  /* background-repeat: repeat; */

  /* tiling hypnotic pattern */
  background:
    radial-gradient(50% 50% at 100% 0, #282a2e 0% 5%, #1d1f21 6% 15%, #282a2e 16% 25%, #1d1f21 26% 35%, #282a2e 36% 45%,
      #1d1f21 46% 55%, #282a2e 56% 65%, #1d1f21 66% 75%, #282a2e 76% 85%, #1d1f21 86% 95%,
      #0000 96%),
    radial-gradient(50% 50% at 0 100%, #282a2e 0% 5%, #1d1f21 6% 15%, #282a2e 16% 25%, #1d1f21 26% 35%, #282a2e 36% 45%,
      #1d1f21 46% 55%, #282a2e 56% 65%, #1d1f21 66% 75%, #282a2e 76% 85%, #1d1f21 86% 95%,
      #0000 96%),
    radial-gradient(50% 50%, #282a2e 0% 5%, #1d1f21 6% 15%, #282a2e 16% 25%, #1d1f21 26% 35%, #282a2e 36% 45%,
      #1d1f21 46% 55%, #282a2e 56% 65%, #1d1f21 66% 75%, #282a2e 76% 85%, #1d1f21 86% 95%,
      #0000 96%),
    radial-gradient(50% 50%, #282a2e 0% 5%, #1d1f21 6% 15%, #282a2e 16% 25%, #1d1f21 26% 35%, #282a2e 36% 45%,
      #1d1f21 46% 55%, #282a2e 56% 65%, #1d1f21 66% 75%, #282a2e 76% 85%, #1d1f21 86% 95%,
      #0000 96%) 32px 32px;
  background-size: 64px 64px;
  background-color: #282a2e;
}

.wrapper {
  max-width: 960px;
  margin: auto;

  background: var(--color-bg-content);
  border: 2px solid var(--color-border-content);

  padding: 1.5em;
}

a {
  color: var(--base0C);

  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

a:active {
  color: var(--base0D)
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;

  max-width: 600px;
}

.link-container a {
  text-transform: lowercase;
}

.link-container a i {
  margin: 0 .25em;
}