body {
  background-color: #101010;
  color: white;
  font-family: 'Lora', serif;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

#front {
  background: url("http://s15.postimg.org/qaxajixxl/skyscraper_gray_grain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.vertical-center {
  /* Old browser support */
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: block;
  vertical-align: middle;
  margin: auto;
}