<div class="container">
    <img class="img-personal" src="assets/images/personal_img.jpg">
    <h1>Damon Myers</h1>
    {% include social.html %}
    <p>
    Hello! I am a software engineer at <a href="{{ site.data.work.link }}">LegitScript</a> and game design enthusiast.
    Welcome to my corner of the internet, where you can find me talking about things I'm reading, working on, or playing.
    Reach out using any of the social links above if you're interested in starting a conversation!
    </p>
</div>
