{%- assign social = site.social -%}

<ul>
  <li><a href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><i class="fab fa-github"></i></a></li>
  <li><a href="https://linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" title="{{ social.linkedin | escape }}"><i class="fab fa-linkedin-in"></i></a></li>
  <li><a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><i class="fab fa-twitter"></i></a></li>
  <li><a href="mailto:{{ social.email }}" title="{{ social.email }}"><i class="fas fa-envelope"></i></a></li>
</ul>
