$defaultTextColor: #ddd;
$contentBackgroundColor: #222;
$backgroundColor: #181818;

$borderColor: lighten($backgroundColor, 20%);


$orange: #dc9656;
$yellow: #f7ca88;
$blue: #7cafc2;
$red: #ab4642;
$green: #a1b56c;
