@import "globals";

article {
    p {
        text-align: left;
        text-justify: none;
    }

    a {
        font-family: inherit;
        color: $secondaryTextColor;
    }

    a::before, a::after {
        content: none;
    }
}

.post-list {
    padding: 10px;
    list-style: none;

    li {
        display: block;

        height: 40px;
        width: 100%;
        margin-bottom: 12px;

        font-size: 10pt;
    }

    .post-date {
        float: right;
        color: $secondaryTextColor;

        font-size: 8pt;
    }

    .more-posts {
        float: right;
        color: $green;
    }
}

@media(min-width: 768px) {
    // posts is the list of posts on the home page and blog page
    .posts {
        grid-column-start: 2;

        width: 360px;
    }
}
